.row {
    display: flex;
    width: 560px;
    justify-content: space-between;
}
.label {
    font-size: 15px;
}
.star {
    color: red;
}
.checkbox {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {

    .row {
        width: 450px;
    }

}
@media (max-width: 450px) {

    .row {
        width: 350px;
        font-size: 12px;
    }

}