.select {
    width: 335px;
    height: 31px;
    padding: 6px 12px;
}

.selectError {
    width: 335px;
    height: 31px;
    padding: 6px 12px;
    border: 1px solid red;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error {
    color: red;
    font-size: 11px;
    width: 330px;
    padding: 4px 0 0 0;
}
@media (max-width: 768px) {

    .select {
        width: 200px;
    }

    .selectError {
        width: 200px;
    }
    
    .error {
        width: 200px;
    }

}